.titlesContainer{
    background-color: #46bc83;
    padding: 50px 80px 80px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titlesContainer h1{
    margin: 0;
    font-size: 42px;
    max-width: 60%;
    color: white;
}
.titlesContainer h2{
    color: #315A46;
    max-width: 80%;
}
.registerLinkBig{
    color: #7ACBD5;
    background-color: #4A165E;
    padding: 8px 70px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 22px;
    box-shadow: 0 4px 4px 2px #00000025;
}
.svgContainer{
    display: flex;
    flex-direction: row;
    margin-top: -25%;
    justify-content: center;
}
.svgContainer svg{
    flex: 0 0 40%;
    max-width: 40%;
    max-height: 300px;
}
.howWork{
    padding: 50px 80px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.howWork aside{
    flex: 0 0 30%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
}
.howWork aside h4,
.howWork aside h5{
    margin: 5px 0;
    color: #315A46;
}
.howWork aside svg{
    font-size: 26px;
}
@media screen and (max-width: 840px) {
    .titlesContainer,
    .howWork{
      padding: 15px 30px;
    }
  }

  @media screen and (max-width: 600px) {
    .titlesContainer h1,
    .titlesContainer h2{
        max-width: 100%;
    }
  }
@media screen and (max-width: 500px) {
  .titlesContainer h1{
    font-size: 30px;
  }
  .titlesContainer h2,
  .registerLinkBig{
    font-size: 16px;
  }
  .howWork{
    flex-direction: column;
    margin-bottom: 25px;
  }
  .howWork aside{
    flex: 0 0 100%;
     max-width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}